<form [formGroup]="FormularioProgramacion">
  <div class="card border-0">
    <div class="card-body">
      <div class="card-title mb-4 text-center">
        <h1>Programación Médica</h1>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-group">
            <input
              type="date"
              class="form-control rounded-pill border border-success"
              placeholder="Fecha"
              formControlName="fecha"
              (change)="getSelectFecha()"
            />
          </div>
        </div>
      </div>

      <ng-container *ngIf="listaProgramaciones$">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-end mb-4 p-2">
              <button
                class="btn btn-success"
                data-toggle="modal"
                data-target="#miModal"
              >
                +add
              </button>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Servicio</th>
                  <th>Médico</th>
                  <th>Consultorio</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let programaciones of listaProgramaciones$
                      | async
                      | paginate: { itemsPerPage: 5, currentPage: p };
                    index as i
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ programaciones.pr_fecha }}</td>
                  <td>{{ programaciones.especialidad.descripcion }}</td>
                  <td>{{ programaciones.medico.descripcion }}</td>
                  <td>{{ programaciones.consultorio.descripcion }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>

<!-- <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col">
            <h3><b>Listado de Programaciones</b></h3>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-3">
            <app-programacion-create></app-programacion-create>
            <span
              class="btn btn-primary btn-xs"
              data-toggle="modal"
              data-target="#miModal"
              >Nueva Programacion</span
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Servicio</th>
            <th>Médico</th>
            <th>Turno</th>
            <th>Consultorio</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let programaciones of listaProgramaciones$ | async;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ programaciones.pr_fecha }}</td>
            <td>{{ programaciones.especialidad.es_descripcion }}</td>
            <td>{{ programaciones.medico.me_nombres }}</td>
            <td>{{ programaciones.pr_turno }}</td>
            <td>{{ programaciones.consultorio.co_descripcion }}</td>
            <td>
              <a href="#" title="Editar" type="button" class="btn btn-primary"
                >Editar
              </a>
              <button
                class="btn btn-danger"
                onclick="return eliminar();"
                type="submit"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>1</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
