<!-- <div class="card border-0">
    <div class="card-body">
        <div class="card-title mb-4 text-center"><h1>Programación Medica</h1></div>
       <form>
            <div class="d-flex flex-wrap w-100">
                <div class="w-50 mw-50 px-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 mw-50 px-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
 -->
