    <div class="card border-0">
        <div class="card-body">
            <div class="card-title mb-4 text-center"><h1>Pacientes Citados</h1></div>
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#orden</th>
                            <th scope="col">paciente</th>
                            <th scope="col">hora</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr [ngClass]="{'active':data.estado ==='A'}"  *ngFor="let data of datosPacienes$ | async">
                            <th class="text-center">{{data.orden}}</th>
                            <td>{{data.paciente | titlecase}}</td>
                            <td>{{data.hora}}</td>
                            <td><button type="submit" class="btn btn-success" (click)="onData(data)">Acto Medico</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>






    
