<form [formGroup]="FormPartMed"  (ngSubmit)="onSubmit()" autocomplete="off">
<div class="card border-0">
        <div class="card-body">
            <div class="card-title mb-4 text-center"><h1>Acto Medico</h1></div>
            <div class="w-100 px-2">
                <div class="card border-0 shadow-card">
                    <div class="card-body">
                        <div class="card-title"><h4>Datos del Paciente</h4></div>
                        <div class="card-text">
                            <ul class="list-group list-group-flush" *ngIf="paciente$ | async as data">
                                <li class="list-group-item"><b>Historia:</b>{{data.historia}} <b>Edad:</b> {{data.edad}}  <b>Hora:</b> {{data.hora}}</li>
                                <li class="list-group-item"><b>Nombre del paciente:</b> {{data.paciente | titlecase}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="d-flex flex-wrap w-100">
                <div class="w-50 mw-50 px-2">
                    <div class="card border-0 shadow-card mt-3">
                        <div class="card-body">
                            <div class="card-title mb-4"><h4>Registros</h4></div>
                            <div  class="form-label-group">
                                <textarea id="motivo" placeholder="Motivo de Consulta" formControlName="motivo" class="form-control"></textarea>
                                <label for="motivo">Motivo de Consulta</label>
                            </div>

                            <div class="form-label-group">
                                <textarea id="enfermedad"  placeholder="Enfermedad o Problema Actual" formControlName="problema" class="form-control"></textarea>
                                <label for="enfermedad">Enfermedad o Problema Actual</label>
                            </div>


                            <div class="form-label-group">
                                <textarea id="examen" class="form-control" formControlName="examen" placeholder="Examen Fisico"></textarea>
                                <label for="examen">Examen Fisico</label>
                            </div>
                        </div>
                    </div>
                    <!--Signo Vitales-->
                    <div class="card mt-3 border-0 shadow-card">
                        <div class="card-body">
                            <div class="card-title mb-4"><h4>Signos Vitales</h4></div>
                            <div class="d-flex flex-wrap w-100 justify-content-between">
                                <div class="w-50 mw-50 p-1">
                                    <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="presion"
                                          class="form-control"
                                          placeholder="Presion Arterial"
                                          formControlName="parterial"
                                        />
                                        <label for="presion">Presion Arterial</label>
                                      </div>

                                      <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="frecuencia"
                                          class="form-control"
                                          formControlName="fcardiaca"
                                          placeholder="F. Cardiaca(min)"
                                        />
                                        <label for="frecuencia">F. Cardiaca(min)</label>
                                      </div> 
                                      <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="respiratoria"
                                          class="form-control"
                                          placeholder="F.Respiratoria(min)"
                                          formControlName="frespiratoria"
                                        />
                                        <label for="respiratoria">F.Respiratoria(min)</label>
                                      </div>
                                      <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="bucal"
                                          class="form-control"
                                          placeholder="Temp. Bucal(c)"
                                          formControlName="tbucal"
                                        />
                                        <label for="bucal">Temp. Bucal(c)</label>
                                      </div>
                                      <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="axiliar"
                                          class="form-control"
                                          placeholder="Temp. Axilar(c)"
                                          formControlName="taxilar"
                                        />
                                        <label for="axiliar">Temp. Axilar(c)</label>
                                      </div>

                                </div>
                                <div class="w-50 mw-50 p-1">
                                    <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="peso"
                                          class="form-control"
                                          placeholder="Peso(kg)"
                                          formControlName="peso"
                                        />
                                        <label for="peso">Peso(kg)</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="talla"
                                          class="form-control"
                                          placeholder="Talla(m)"
                                          formControlName="talla"
                                        /><label for="talla">Talla(m)</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="masa"
                                          class="form-control"
                                          placeholder="I.Masa corporal"
                                          formControlName="icorporal"
                                        /><label for="masa">I.Masa corporal</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input
                                          type="text"
                                          id="perim"
                                          class="form-control"
                                          placeholder="Perim Cefalico(cm)"
                                          formControlName="pcefalico"
                                        /><label for="perim">Perim Cefalico(cm)</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                
                <div class="w-50 mw-50 px-2">
                    <div class="card mt-3 border-0 shadow-card">
                        <div class="card-body">                       
                          <div class="card-title mb-4"><h4>Antecedentes</h4></div>
                            <ng-container formArrayName="antecedentes">
                              <div *ngFor="let _ of antecedentes.controls; index as i">
                                <ng-container [formGroupName]="i">
                                    <div class="form-group">
                                      <select class="custom-select form-control" formControlName="id">
                                          <option [ngValue]="null">SELECCIONAR ANTENCEDENTES</option>
                                          <option [ngValue]="antecedente.id" *ngFor="let antecedente of antecedentes$ | async">{{antecedente.tipo}}/{{antecedente.descripcion}}</option>
                                      </select>
                                    </div>
                                    <div class="form-label-group">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="personal"
                                        placeholder="Descripcion personal"
                                        formControlName="valor"
                                      />
                                      <label for="personal">Descripcion personal</label>
                                  </div>
                                </ng-container>
                              </div>
                            </ng-container>
                            <div class="card" (click)="addBackground()">
                              <div class="card-body">
                                <div class="card-text text-center">+Agregar antecedentes</div>
                              </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card mt-3 border-0 shadow-card">
                          <div class="card-body">
                              <div class="card-title mb-4"><h4>Diagnosticos</h4></div>
                              <div class="form-label-group">
                                  <input
                                    type="text"
                                    id="cie"
                                    placeholder="Buscar cie 10"
                                    class="form-control"
                                    formControlName="cie"
                                  />
                                  <label for="cie">Buscar cie 10</label>
                                </div>
                                <div class="mb-4" *ngIf="cies$">
                                  <ul class="list-group">
                                      <li class="list-group-item" (click)="addCie(cie)" *ngFor="let cie of cies$ | async">{{cie.cie}} - {{cie.descripcion}}</li>
                                  </ul> 
                                </div>
                          </div>
                      </div>


                    <ng-container formArrayName="diagnosticos">
                      <div *ngFor="let _ of diagnosticos.controls; index as i">
                        <ng-container [formGroupName]="i">
                          <div class="card mt-3 border-0 shadow-card" *ngIf="diagnosticos$">
                              <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item" *ngFor="let diagnostico of diagnosticos$ | async">{{diagnostico.data.cie}} - {{diagnostico.data.descripcion}}</li>
                                  </ul> 
                              </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>


                    <div class="card mt-3 border-0 shadow-card">
                        <div class="card-body">
                            <div class="card-title mb-4"><h4>Destino de Atencion</h4></div>
                            <select class="custom-select form-control" >
                                <option value="null">SELECCIONAR DE ATENCION</option>
                                <option value="1">RECITA</option>
                                <option value="2">INTERCONSULTA</option>
                                <option value="3">ALTA</option>
                                <option value="4">REFERENCIA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center m-4">
                <div class="col-md-6">
                  <button type="submit" class="button-ls">
                    <h5>Generar Acto Medico</h5>
                  </button>
                </div>
              </div>
        </div>
    </div>
</form>

