<ng-container *ngIf="datas$">
  <ng-container *ngIf="modal">
    <app-form-dynamic-modal></app-form-dynamic-modal>
  </ng-container>
  <div class="card">
    <div class="card-body">
      <div class="d-flex mb-4 p-2">
        <ng-container *ngIf="route$ | async as route">
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#miModal"
            (click)="onData(route)"
          >
            +add
          </button>
        </ng-container>
      </div>
      <table class="table table-striped table-hover">
        <tr>
          <th>CODIGO</th>
          <th>DESCRIPCION</th>
        </tr>
        <tr
          *ngFor="
            let data of datas$
              | async
              | paginate: { itemsPerPage: 5, currentPage: p }
          "
        >
          <td>{{ data.codigo }}</td>
          <td>{{ data.descripcion }}</td>
        </tr>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</ng-container>
